@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.ttf") format("truetype");
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  margin: 40px 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu {
  width: 37px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu span {
  width: 37px;
  height: 6px;
  background-color: white;
  border-radius: 4px;
}

.logo__img {
  height: 89px;
}

.search-button__img {
  height: 42px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 82px;
  top: 220px;
  width: 20px;
  z-index: 5;
}

.social-media__img {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
  opacity: 0.7;
}

.main {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: c;
      -ms-flex-pack: c;
          justify-content: c;
}

.main__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-size: cover;
  width: 460px;
  min-height: 284px;
  margin-top: 20px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0)), to(#000000));
  background-image: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0%, #000000 100%);
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #000000 100%);
  opacity: 0.8;
}

.main__block--size-lg {
  height: 588px;
  width: 960px;
}

.main__button a {
  position: relative;
  margin-left: 64px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #84FAB0;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  width: 96px;
  height: 32px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main__button a:hover {
  background-color: rgb(16, 98, 58);
}

.main__button--purple a {
  color: white;
  background-color: #7028E4;
}

.main__button--purple a:hover {
  background-color: rgb(85, 9, 85);
}

.main__content {
  position: relative;
  margin-left: 64px;
  margin-bottom: 40px;
}

.main__title {
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: white;
  opacity: 1;
  font-weight: 600;
  letter-spacing: 1.4px;
  font-size: 28px;
  margin-bottom: 20px;
}

.main__title--size-sm {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.main__subtitle {
  height: 23px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  color: white;
  opacity: 0.64;
  font-weight: 600;
  letter-spacing: 1.4px;
  font-size: 16px;
}

.main__subtitle--size-sm {
  font-size: 14px;
}

.main__external-block {
  margin-right: 20px;
}

.main__static-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
  width: 460px;
  height: 588px;
  background: transparent -o-linear-gradient(295deg, #E5B2CA 0%, #7028E4 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(155deg, #E5B2CA 0%, #7028E4 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1607843137);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1607843137);
  opacity: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__static-img {
  height: 281px;
  opacity: 0.4;
}

.main__static-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  opacity: 1;
}

.footer {
  margin-top: 102px;
  background-color: #222222;
}

.footer__inner {
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  text-align: left;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.8px;
  color: #FFFFFF;
  opacity: 0.48;
  font-size: 16px;
}

.logo__img--size-sm {
  height: 48px;
}

#falling-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  left: -100%;
  top: 0px;
  height: 140%;
  position: fixed;
  background: rgba(72, 72, 72, 0.6784313725);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  width: 100%;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  z-index: 6;
}

#falling-menu ul {
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#falling-menu ul li {
  list-style: none;
  margin: 20px 0 10px 0;
}

#falling-menu ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#falling-menu ul li a:hover {
  text-decoration: underline;
}

#falling-menu__button-close {
  margin-top: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#falling-menu__button-close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1680px) {
  .social-media {
    left: 40px;
  }
}

@media (max-width: 1575px) {
  .social-media {
    display: none;
  }
}

@media (max-width: 1550px) {
  .wrapper {
    max-width: 1200px;
  }

  .main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__static-block {
    margin: 0;
    margin-right: 20px;
    margin-top: 20px;
  }

  .main__external-block {
    margin: 0;
  }
}

@media (max-width: 1275px) {
  .wrapper {
    max-width: 1000px;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    max-width: 700px;
  }

  .main__static-block {
    margin-right: 0;
    width: 700px;
  }

  .main__block {
    width: 700px;
  }
}

@media (max-width: 760px) {
  .wrapper {
    max-width: 500px;
  }

  .main__block {
    width: 500px;
  }
}

@media (max-width: 550px) {
  .wrapper {
    max-width: 400px;
  }

  .main__block {
    width: 400px;
  }

  .main__block--size-lg {
    height: 300px;
  }

  .main__title {
    font-size: 22px;
  }

  .main__content {
    margin-left: 30px;
  }

  .main__static-block {
    height: 300px;
  }

  .main__static-img {
    height: 120px;
  }
}

@media (max-width: 430px) {
  .wrapper {
    max-width: 300px;
  }

  .logo__img {
    height: 60px;
  }

  .main__block {
    width: 300px;
  }

  .main__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__button a {
    margin-left: 0;
  }
}